<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= bed.Title%></h5>
        <div class="card-text">
            <p><%= bed.Description%></p>
            <div class="mb-1">
                Frequency: <%= if (bed.Frequency == 1) { %> Daily <%} else
                if(bed.Frequency == 2) {%> Weekly <%} else {%> Monthly <%}%>
            </div>
            <div>
                Complete:
                <input
                    data-bedid="<%=bed.ID %>"
                    type="checkbox"
                    class="complete"
                    name="complete"
                    <%= if (bed.Complete) { %>
                    <%= "checked" %>
                    <%}%>
                />
            </div>
            <%= linkTo(bed, {body: "view", class:"btn btn-secondary mt-2"}) %>
        </div>
    </div>
</div>
