<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title"><%= bed.Title%></h2>
        <p class="card-text"><%= bed.Description%></p>
        <div class="mb-2">
            Frequency: 
        <%= if (bed.Frequency == 1) { %>
            Daily
        <%} else if(bed.Frequency == 2) {%>
            Weekly
        <%} else {%>
            Monthly
        <%}%>
        </div>
        <div>
            Complete: 
            <%= if(bed.Complete) {%>
                <i class="far fa-check-square"></i>
            <% } else {%>
                <i class="far fa-square"></i>
            <%}%>
        </div>
        <%= linkTo(bed, {body: "view", class:"btn btn-secondary mt-3"}) %>
    </div>
</div>