<div class="row">
    <div class="col-md-12 p-4 d-flex align-items-center justify-content-between">
        <a href="/"><img class="custom-logo" src=<%= assetPath("images/logo_transparent.png") %> /></a>
        <%= if (claims) { %> 
            <%=linkTo(signoutPath(), {body: "Sign Out", class:"btn btn-warning"}) %> 
        <% } else {%>
            <ul class="d-flex flex-row align-items-center" style="list-style-type: none;">
                <li class="mr-4 cursor-pointer">About Us</li>
                <li class="mr-4 cursor-pointer">FAQ</li>
                <li><%=linkTo(signinPath(), {body: "Sign In", class:"btn btn-secondary mr-4"}) %></li>
                <li><%=linkTo(newUsersPath(), {body: "Get Started", class:"btn btn-primary"}) %> </li>
            </ul>
        <%}%>
    </div>
</div>
