<div id="vue-home">
   <div class="d-flex flex-row justify-content-between row p-4">
        <div id="blob-1"></div>
        <div class="col-md-12 col-lg-6 mb-4">
            <h4>Awesome habit tracker <br />for busy people</h4>
            <p>
            Beds is a place where you can create and track small daily habits.<br />
            Everyone needs help sticking to their daily habits and Beds can help.
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
        <div id="hero-image-container" class="col-md-12 col-lg-6 d-flex flex-row justify-content-center">
            <img class="w-100" src="../assets/images/hero.png">
        </div>
   </div>
   <div class="row p-4 d-flex flex-column align-items-center">
        <h5 class="m-auto">Beds gives you a <span class="text-primary">simple</span>, but effective way to track your daily habit progress - Active - Continuous - Growth</h5>
        <p class="pt-4 m-auto">Challenge your friends and win <span class="text-primary">prizes</span> by keeping your streak going the longest.</p>
        <div class="col-lg-6">
            <img class="mt-5 w-100" src="../assets/images/unlock.svg">
        </div>
   </div>
    <div class="row p-4 d-flex flex-column align-items-center mt-5 mb-4">
        <h5 class="m-auto">Built for people who want lasting results</h5>
        <p class="pt-4 m-auto">Stick to your goals and accomplish them</p>
    </div>

    <div class="row d-flex align-items-center justify-content-between mb-4 mt-5 p-3">
        <div class="bg-light border rounded col-lg-2 w-100 mr-2 p-3 d-flex flex-column align-items-center justify-content-center">
            <h4 class="text-primary">Focus</h4>
            <p>Always improving</p>
            <img width=100 height=100 src="../assets/images/entryway-colour.svg" />
            <a class="text-primary mt-4 cursor-pointer">Find out more ></a>
        </div>
        <div class="bg-light border rounded col-lg-2 w-100 mr-2 p-3 d-flex flex-column align-items-center justify-content-center mt-4">
            <h4 class="text-primary">Peace</h4>
            <p>Relax and enjoy</p>
            <img width=100 height=100 src="../assets/images/reading-corner-colour.svg" />
            <a class="text-primary mt-4 cursor-pointer">Find out more ></a>
        </div>
        <div class="bg-light border rounded col-lg-2 w-100 mr-2 p-3 d-flex flex-column align-items-center justify-content-center mt-4">
            <h4 class="text-primary">Creativity</h4>
            <p>Feel the energy</p>
            <img width=100 height=100 src="../assets/images/student-colour.svg" />
            <a class="text-primary mt-4 cursor-pointer">Find out more ></a>
        </div>
        <div class="bg-light border rounded col-lg-2 w-100 mr-2 p-3 d-flex flex-column align-items-center justify-content-center mt-4">
            <h4 class="text-primary">Speed</h4>
            <p>Bring it home</p>
            <img width=100 height=100 src="../assets/images/shopping-cart-colour.svg" />
            <a class="text-primary mt-4 cursor-pointer">Find out more ></a>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
            <h4>Dont let your goals fall to the wayside</h4>
            <p>Achieve what you set out to with Beds. Incorporate your daily goals into your life with our simple reminders and fun challenges.</p>
            <button style="max-width: 120px;" class="btn btn-primary">Get Started</button>
        </div>
        <div class="col-lg-6 col-md-12">
            <img class="w-100" src="../assets/images/drawkit-nature-man-colour.svg" />
        </div>
    </div>

    <!-- Footer -->
    <div style="font-size: 12px;" class="w-100 border-top p-4 text-dark">
        Beds
        © 2020
    </div>
</div>