<div class="py-4 mb-2">
    <h3 class="d-inline-block">User Home Page</h3>
    <div id="like_button_container"></div>
    <div>
        <%= if (beds && len(beds) > 0) { %> 
            <h6>You've completed <%= len(completeBeds) %> out of your <%= len(beds) %> beds for today</h6>
            <%= linkTo(newBedsPath(), {body: "Create bed", class: "btn btn-primary mb-4"}) %> 
            <%= if(len(incompleteBeds) > 0) { %>
                <h4 class="pb-2">Your Incomplete Beds</h4>
                <%= for (key, bed) in incompleteBeds { %> 
                    <%= partial("beds/card.html") %>
                <% } %> 
            <% } %>
            <%= if(len(completeBeds) > 0) { %>
                <h4 class="pb-2">Your Complete Beds</h4>
                <%= for (key, bed) in completeBeds { %> 
                    <%= partial("beds/card.html") %>
                <% } %> 
            <%}%>
        <% } else { %>

            <p>Welcome to Beds! Beds is an app to help you form daily habits. A "bed" is a small task you want to do everyday. Think something like making your bed each morning.</p>

            <p>Create your first bed below and start tracking your habit forming progress.</p>

            <h5>You don't have any beds. Create your first one now!</h5>
            <%= linkTo(newBedsPath(), {body: "Create your first bed"}) %> 
        <% } %>
    </div>
</div>
