<div class="py-4 mb-2 pl-4">
    <h3 class="d-inline-block">Sign In</h3>
</div>
<div id="bouncer"></div>
<%= if (error != "") { %>
<div class="row pl-4">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
            >
                ×
            </button>
            <span><%= error %></span>
        </div>
    </div>
</div>
   <% } %> 
    <div class="row pl-4 d-flex flex-row align-items-center justify-content-between">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <%= form({action: signinPath(), method: "POST"}) { %>
            <%=partial("users/formsignin.html") %> <% } %>
            <div class="mt-4">Don't have an account? <a href="<%=newUsersPath()%>"> Create One</a></div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end">
                <img width=400 height=400 src="<%= assetPath("images/drawkit-full-stack-man-colour.svg") %>" />
        </div>
    </div>
</div>
