<div class="py-4 mb-2">
    <h3 class="d-inline-block">Sign In</h3>
</div>

<%= if (error != "") { %>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
            >
                ×
            </button>
            <span><%= error %></span>
        </div>
    </div>
</div>
<% } %> <%= formFor(user, {action: signinPath(), method: "POST"}) { %>
<%=partial("users/formsignin.html") %> <% } %>
